<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스프링부트 웹서비스</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app/main.js"></script>
</head>
<body>
    <h1>스프링부트로 시작하는 웹 서비스</h1>

    <div class="col-md-11">
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">글 등록</button>
        <br/>
        <br/>
        <!-- 목록 출력 영역 -->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">게시글번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">내용</th>
                <th scope="col">최종수정일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${tableList}">
                <th scope="row"><div th:text="${list.id}"></div></th>
                <td><div th:text="${list.title}"></div></td>
                <td><div th:text="${list.author}"></div></td>
                <td><div th:text="${list.contents}"></div></td>
                <td><div th:text="${list.modifiedDate}"></div></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">글 등록</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="title-name" class="col-form-label">제목</label>
                            <input type="text" class="form-control" id="title-name">
                        </div>
                        <div class="mb-3">
                            <label for="author-name" class="col-form-label">작성자</label>
                            <input type="text" class="form-control" id="author-name">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">등록</button>
                </div>
            </div>
        </div>
    </div>



</body>
</html>